<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
    <a class="navbar-brand" href="index.html">TravelPal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" href="requests.html">My Requests <span class="badge" id="reqBadgeId">0</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="matches.html">My Matches <span class="badge" id="matBadgeId">0</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="post.html">Post a Request</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="profile.html">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">Log Out</a>
        </li>
        </ul>
    </div>
    </div>
</nav>
